.outer{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.customcontainer{
    height:100%;
    width:100%;
    padding: 0px 50px;
}
body{

    min-height: 100%;
}
.footer{
    /* position: absolute; */
    width:100%;
    padding: 10px;
    display:block;
    background-color: #343A40;
    height: 200px !important;
    position: relative;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:rgb(255, 255, 255);
}
.footer-elements{
    min-width: 33%;
    /* text-align: center; */
    /* border:2px solid white; */
}
.upload-container{
    /* border:2px solid red; */
    /* margin: 0% 10% 0% 25%; */
    height:100vh;
    width: 100%;
    /* padding-left:auto; */
    background-color:#1A1A22;
}
form{
    display: flex;
    flex-direction: row ;
    margin: 5% 15% 5% 15%; 
    padding:20px;
    
}
input{
    border: 1px solid rgb(175, 175, 175) ;
    text-align:center;
}
#submitbtn{
    margin-top:2%;
    width: 100%;
}
.form-row{
    width: 100%;
}

small{
    color: honeydew;
}
.me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /* padding-left:8%; */
}
.this{
    margin: 3px;
}
.design{
    text-align:right;
}